*{
    padding: 0px;
    margin: 0px;
    font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    text-decoration: none;
    
}
#slack-logo{
    height:100% ;
    width:auto;
    margin-left: 3rem;
}
.header{
    text-decoration: inherit;
    background-color: #400d40;
    color: white;
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    
}
/* .header img{
    /* height: 80px;
    width: 125px;
    position: absolute;
    left: 10rem; 
}*/
.header .list{
    text-decoration: none;
    color: white;
    width:auto;
    margin: 0.5rem;
   
}
.header i{
    font-size: 1.5rem;
}
.header .list a{
    text-decoration: none;
    color: white;
}
.space{
    width:100px
}
.header button{
    margin: 0.5rem 1rem 1rem 0.5rem;
    height:45px;
    width: 148px;
    font-size: 20px;
    border: 2px solid white;
    border-radius:10px;

}
.header i{
    margin:0.5rem;
}
.header .list > a{
    margin:0.3rem;
}
.talk {
    background-color: #400d40;
    color: white ;
}
.try{
    background-color: white;
    color: #400d40;
}
.poster-one{
    background-color: #400d40;
    color: white ;
    text-decoration: inherit;
    width: 100%;
    height: 477px;
    padding: 0px 120px 0px 80px;
    display: flex;
}
.poster-one .text{
    flex: 1;

}
.poster-one h1{
    margin-bottom: 1rem;
    font-size: 50px;
}
.poster-one span{
    font-size: 20px;
    line-height: 2rem;
}
.poster-one .prod{
    color: gold;
}
.poster-one button{
    margin: 0.5rem 1rem 1rem 0.5rem;
    height:45px;
    width: auto;
    font-size: 15px;
    border: none    ;
    border-radius:3px;
    padding: 0.5rem;
}
.poster-one .email{
    border-color: white;
    color: #400d40;
}
.poster-one .google{
    background-color: #4285f4;
}
.poster-one img{
    width:45vw;
    height: 477px;
    position:absolute;
    right:0px;
    top:80px;
    /*margin-right:340px*/
}
.company-used{
    height: 154px;
    width: auto;
    padding: 48px 83px 0px 83px;
    background-color: rgb(244, 237, 228);
    text-align: center;
}
.company-used img{
    margin: 3rem 1.5rem 1rem 1.5rem;
    width: auto;
    height: 40px;
}
.poster-two{
    height: 350px;
    width: 100%;
    padding:2rem 2rem 2rem 0rem;
    background-color: rgb(244, 237, 228);
    display: flex;

}
.poster-two img{
    height: 100%;
    width: auto;
}
.poster-two .heading{
    font-size: 50px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.poster-two .text12{
    line-height: 1.5rem;
    margin-bottom: 2rem;
    font-size: 20px;
}

.team-size{
    height: 300px;
    padding: 3rem;
}
.team-size h1{
    text-align: center;
}
.team-size p{
    
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 3rem;
}
.team-size button{
    margin: 0.5rem 1rem 1rem 0.5rem;
    height:45px;
    width: auto;
    font-size: 15px;
    border: 2px solid #400d40;
    border-radius:0.25rem;
    padding: 1rem 1rem 2rem 1rem;
}
.team-size .stats{
    display: flex;
    justify-content: center;

}
#percentiles{
    color: #400d40;
    font-size: 40px;
    text-align: left;
}
.team-size .stats .comm{
    width:190px;
    height:auto;  
    margin: 2rem 4rem 2rem 4rem;

}
.team-size .stats .comm p{
    padding-top: 0.4rem;
    font-size:14px;
    font-weight: normal;
    text-align: left;
    line-height: 1rem;
}
#stories{
    background-color: white;
}
#textOne{
    padding-left: 3rem;
}
#quotes{
    font-size: 30px;
}

#textTwo{
    color: #4285f4;
}

.deeper{
    text-align: center;
    width: 100vw;
    height: 563px;
    padding: 2rem 0rem 2rem 0rem;
    background-color: rgb(244, 237, 228);
    
}

.deeper-dive{    
    display: flex;
    justify-content: center;
    background-color: rgb(244, 237, 228);
}
.deeper-dive .class{
    margin: 1rem;
    background-color: white;
    width: 270px;
    height: 420px;
    text-align: left;
    padding: 1rem;
}
#main{
    font-size: 25px;
}
.deeper-dive .class img{
    /* padding: 1rem; */
    width: 100%;
    height: auto;
}
.accomplish{
    width: 100vw;
    height: 210px;
    padding: 80px 0px 80px 0px;
    background-color: #400d40;
    color: white;
    text-align: center;
}
.accomplish .try{
    
    margin: 0.5rem 0.25rem 1rem 0.5rem;
    height:45px;
    width: auto;
    font-size: 15px;
    border: none    ;
    border-radius:3px;
    padding: 0.5rem;
    padding: 1rem 2rem 2rem 2rem;
    border: 2px solid white    ;
}
.accomplish .talk{
    margin: 0.5rem 1rem 1rem 0.5rem;
    height:45px;
    width: auto;
    font-size: 15px;
    border: 2px solid white    ;
    border-radius:3px;
    padding: 1rem 2rem 2rem 2rem;
}
.footer{
    height: 300px;
    display: flex;
    justify-content: space-around;
    padding: 3rem 10rem 3rem 10rem;
}
.footer .list{
    width: 10rem;
}
.footer .list img{
    width: 5rem;
    height: auto;
}
ul{
    list-style-type: none;
    line-height: 2.5rem;
}
.final{
    display: flex;
    text-decoration: none;
    justify-content: flex-start;
    font-size: 10px;
}
.final .names{

    margin: 0.5rem;
    
}
.rightwards{
    justify-self: flex-end;
    
}
.empty{
    flex:1;
}
.rightwards a{
   
    text-decoration: none;
    color: black;
    margin-left:1rem;
}

#firstone{
     margin-left: 4rem;;
}
.final .names a{
    text-decoration: none;
    color: black;
}
#disclaimer{
    font-size: 10px;
    color: grey;
    margin-left: 1rem;
}